*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*GLOBAL STYLES*/
a{
    text-decoration: none;
    color: rgb(39, 114, 211);

}
li{
    list-style-type: none;
    padding: 0 10px;
}


/*NAVIGATION BAR*/
header>nav>div.business>a{
    font-size: 1.3rem;
}
header{
    align-items: center;
}
header>nav{
    margin: 1% 2%;
    display: flex;
    position: relative;
    justify-content: space-between;
    min-height: 3%;
    overflow: hidden;
    width: 96%;

}
header>nav>.nav-bar>ul{
    position: absolute;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    width: 350px;
    overflow: hidden;
    

}
header>nav>.login-container>.login{
    border: 1px solid rgb(39, 114, 211);
    padding: 0 20px;
    background: rgb(37, 141, 226);
    border-radius: 50%;
}
header>nav>.login-container>.login>a{
    color: #fff;
}

/*home*/
body>home{
    position: absolute;
    top: 50px;
    width: 100%;
    background-size: cover;
    
    background-image: url('../rss/bg1,jpg');
}
body>home>div.container{

}
/*FIRST PAGE*/
/*SECOND PAGE*/
/*THIRD PAGE*/
/*FOOTER*/
/*ANIMATION*/
/*HOVER EFFECT*/
/**/
/**/
